<a href="https://colab.research.google.com/github/aashu1328/Natural-language-Processing/blob/master/HW_class_5_Naive_Bayes.ipynb" target="_parent"><img src="https://colab.research.google.com/assets/colab-badge.svg" alt="Open In Colab"/></a>

In [0]:
import pandas as pd
from nltk import NaiveBayesClassifier

In [2]:
from google.colab import files 
data=files.upload()

Saving UCI_Credit_Card.csv to UCI_Credit_Card.csv

In [0]:
import io 
df=pd.read_csv(io.BytesIO(data['UCI_Credit_Card.csv']))

In [0]:
 df = df.drop('ID',1)

In [5]:
df.isna().sum()

LIMIT_BAL    0
SEX          0
EDUCATION    0
MARRIAGE     0
AGE          0
PAY_0        0
PAY_2        0
PAY_3        0
PAY_4        0
PAY_5        0
PAY_6        0
BILL_AMT1    0
BILL_AMT2    0
BILL_AMT3    0
BILL_AMT4    0
BILL_AMT5    0
BILL_AMT6    0
PAY_AMT1     0
PAY_AMT2     0
PAY_AMT3     0
PAY_AMT4     0
PAY_AMT5     0
PAY_AMT6     0
target       0
dtype: int64

In [7]:
df.head()

   LIMIT_BAL  SEX  EDUCATION  MARRIAGE  ...  PAY_AMT4  PAY_AMT5  PAY_AMT6  target
0    20000.0    2          2         1  ...       0.0       0.0       0.0       1
1   120000.0    2          2         2  ...    1000.0       0.0    2000.0       1
2    90000.0    2          2         2  ...    1000.0    1000.0    5000.0       0
3    50000.0    2          2         1  ...    1100.0    1069.0    1000.0       0
4    50000.0    1          2         1  ...    9000.0     689.0     679.0       0

[5 rows x 24 columns]

In [0]:
from sklearn.model_selection import train_test_split as tts
from sklearn.naive_bayes import GaussianNB
from sklearn.metrics import classification_report

In [0]:
x=df.drop('target',1)
y=df['target']
x_train,x_test,y_train,y_test = tts(x,y )

In [0]:
Model = GaussianNB()
Model.fit(x_train,y_train)

In [17]:
y_pred=Model.predict(x_test)
print(classification_report(y_test,y_pred))

              precision    recall  f1-score   support

           0       0.88      0.23      0.37      5919
           1       0.23      0.88      0.37      1581

    accuracy                           0.37      7500
   macro avg       0.56      0.56      0.37      7500
weighted avg       0.74      0.37      0.37      7500